extend layout
block content
  div.container(style='padding:0;width:97.5%')
    h4.text-center
      | Currently, the system is under maintenance. Please try again after some time.
    h4.text-center  
      | Thank you for your patience!