extend layout
block content
  div.container
    h4.text-center
      | Professors

    div.row
      ul.thumbnails.list-unstyled
        li.col-lg-2.col-md-3.col-sm-6.col-xs-12
          div.thumbnail.people_thumb(style='padding:0')
            div.image_thumb(style='padding:4px;margin-top:5px')
              a(href='http://www.isi.edu/integration/people/knoblock/')
                img(src='http://www.isi.edu/integration/people/knoblock/img/CraigKnoblock.jpg')

            div.caption(style='margin-top:10px')
              h5
                | Craig A. Knoblock
              p(style="margin-top:10px")
                | Director & Research Professor

        li.col-lg-2.col-md-3.col-sm-6.col-xs-12
          div.thumbnail.people_thumb(style='padding:0')
            div.image_thumb(style='padding:4px;margin-top:5px')
              a(href='http://www.isi.edu/integration/people/knoblock/')
                img(src='http://www.isi.edu/integration/people/knoblock/img/CraigKnoblock.jpg')

            div.caption(style='margin-top:10px')
              h5
                | Craig A. Knoblock
              p(style="margin-top:10px")
                | Director & Research Professor

    h4.text-center
      | Professors

    div.row
      ul.thumbnails.list-unstyled
        li.col-lg-2.col-md-3.col-sm-6.col-xs-12
          div.thumbnail.people_thumb(style='padding:0')
            div.image_thumb(style='padding:4px;margin-top:5px')
              a(href='http://www.isi.edu/integration/people/knoblock/')
                img(src='http://www.isi.edu/integration/people/knoblock/img/CraigKnoblock.jpg')

            div.caption(style='margin-top:10px')
              h5
                | Craig A. Knoblock
              p(style="margin-top:10px")
                | Director & Research Professor

        li.col-lg-2.col-md-3.col-sm-6.col-xs-12
          div.thumbnail.people_thumb(style='padding:0')
            div.image_thumb(style='padding:4px;margin-top:5px')
              a(href='http://www.isi.edu/integration/people/knoblock/')
                img(src='http://www.isi.edu/integration/people/knoblock/img/CraigKnoblock.jpg')

            div.caption(style='margin-top:10px')
              h5
                | Craig A. Knoblock
              p(style="margin-top:10px")
                | Director & Research Professor