/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = #faf9f0

body
  font-family 'Georgia'
  color #444
  font-size 14px

h4
  margin-top 20px
  font-size 18px
  margin-bottom 10px

h2
  margin-top 10px
  font-size 14px
  margin-bottom 10px
  

.people_thumb
  height 250px

.people_thumb img
  display block
  height 100px
  margin auto
  overflow hidden
  width auto

.thumbnail
  border-radius 2px

.thumbnail h5
  text-align center
  word-wrap break-word

.thumbnail p
  text-align center

footer
  width 500px
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px